.ocr{
    display: flex;
    justify-content: center;
}

.navbar5{
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem ;
    position: fixed;
    width: 100%;
    background:#fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    /* background: linear-gradient(90deg, rgba(120, 119, 119, 1) 0%, rgba(0, 0, 0, 1) 100%);  */
}

.navbar-links5{
    flex:1;
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.navbar-links5 img{
    width: 120px;
    padding-right: 1rem;
}

.navbar-logo5 h1{
    font-family:  Arial, Helvetica, sans-serif;
    
    font-size: 25px;
    color: black;
}
.navbar-logo5 p{
    font-family:  Arial, Helvetica, sans-serif;
   
    font-size: 18px;
    color: black;
}

.navbar-container5{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.navbar-container5 h1{
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    padding-right: 1rem;
    padding-top: 13px;
}

.navbar-container5 button{
    font-family:  Arial, Helvetica, sans-serif;
    border-radius: 30px;
    padding: 1rem;
    background-color: rgb(95, 95, 172);
    border:  1px solid rgb(95, 95, 172);;
    overflow: hidden;
    display: 'inline-block';
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.navbar-container5 button:hover{
    background-color: rgb(96, 96, 205);
}

.ocr-heading{
    padding: 3rem;
    margin-top: 130px;
    background: rgb(240, 240, 240);
    height: 100%;
    width: 100%;
}

.heading{
  
    background: rgb(240, 240, 240);
}
.ocr-heading h1{
    
    padding-bottom: 2rem;
    font-size: 40px;
    font-family:  Arial, Helvetica, sans-serif;
}

.ocr-img img{
    margin-left: 23rem;
    width: 500px;
}

.ocr-content{
    margin-left: 5rem;
    padding-top: 2rem;
}

.ocr-content p{
    font-family:  Arial, Helvetica, sans-serif;
    margin-left: 5rem;
    padding-top: 2rem;
}

@media screen and (max-width: 1050px){

    .navbar5{
        width: 385px;
        padding: 1rem 2rem;
    }

    .navbar-links5 img{
        width: 100px; 
        padding-right: 1rem;
    }

    .ocr-heading{
        margin-top: 100px;
        padding: 0rem;
    }
    
    .ocr-heading h1{
        font-family: Arial, Helvetica, sans-serif;
        line-height: 50px;
        padding: 1rem;
        margin-left: 0rem;
    }
    
    .ocr-img img{
        margin-left:3rem;
        width: 300px;
    }
    .ocr-content{
        margin-left: 3rem;
    }
    
    .ocr-content h2{
        padding: 0px;
    }
    .ocr-content p{
        margin-left: 0rem;
        padding-top: 2rem;
    }

    .navbar-logo5 p{
        display: none;
    }

    .navbar-logo5 h2{
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 0rem;
        font-size: 13px;
        white-space: pre;

    }
}

@media screen and (max-width: 700px){
    .navbar-container5{
        display: none;
    }
    
} 

@media screen and (max-width: 500px){
    

} 
